#modal_saha.modal
    .modal-overlay.modal-toggle
    .modal-wrapper.modal-transition
        .modal-header
            button.modal-close.modal-toggle
                i.icon-close.icon.fal.fa-times
            img.modal-header__img(src="img/saha.jpg" alt="Республика Саха" width="350" height="377")
            h2.modal-heading Республика Саха
        .modal-body
            .modal-content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, harum illo ea nobis veniam architecto, officiis beatae, voluptate magni, sunt veritatis excepturi inventore omnis? Magnam fugiat assumenda enim natus reprehenderit.

#modal_gazprom.modal
    .modal-overlay.modal-toggle
    .modal-wrapper.modal-transition
        .modal-header
            button.modal-close.modal-toggle
                i.icon-close.icon.fal.fa-times
            img.modal-header__img(src="img/gazprom.jpg" alt="Газпром" width="350" height="377")
            h2.modal-heading Газпром
        .modal-body
            .modal-content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, harum illo ea nobis veniam architecto, officiis beatae, voluptate magni, sunt veritatis excepturi inventore omnis? Magnam fugiat assumenda enim natus reprehenderit.

#modal_nokia.modal
    .modal-overlay.modal-toggle
    .modal-wrapper.modal-transition
        .modal-header
            button.modal-close.modal-toggle
                i.icon-close.icon.fal.fa-times
            img.modal-header__img(src="img/nokia.jpg" alt="Nolia" width="350" height="377")
            h2.modal-heading Nokia
        .modal-body
            .modal-content Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nemo, harum illo ea nobis veniam architecto, officiis beatae, voluptate magni, sunt veritatis excepturi inventore omnis? Magnam fugiat assumenda enim natus reprehenderit.
